
 <div class="container-fluid footer"> 
  <div class="row ">
    
      <div class="col-sm-3 col-md-3 col-lg-3 footer-about">
        <h5>About Us</h5>
      	<p style="padding-top: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate libero mauris, vitae malesuada mauris porttitor at. Nam scelerisque enim ac libero mattis pharetra sit amet eget neque. Fusce et efficitur nunc. Quisque maximus dui ut tellus condimentum</p>

      	<div class="row-fluid" style="margin-top: 45px;">
      	<button type="button" class="btn btn-default" >
      <i class="fa fa-facebook"></i>
    </button>
    <button type="button" class="btn btn-default">
      <i class="fa fa-twitter"></i>
    </button>
    <button type="button" class="btn btn-default">
      <i class="fa fa-instagram"></i>
    </button>
    <button type="button" class="btn btn-default">
      <i class="fa fa-google-plus"></i>
    </button>
    <button type="button" class="btn btn-default">
      <i class="fa fa-skype"></i>
    </button>
    <button type="button" class="btn btn-default">
      <i class="fa fa-youtube"></i>
    </button></div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <h5>Some Links</h5>
      <div class="col-sm-6 col-md-6 col-lg-6 footer-links">
  	            <a href="#"><p style="padding-top: 20px;">	> Activity  </p></a>
  	          	<a href="#"><p>	> Activity  </p></a>
  	          	<a href="#"><p>	> Activity  </p></a>
  	          	<a href="#"><p>	> Activity  </p></a>
  	          	
					
				
  	          </div>
				
              <div class="col-sm-6 col-md-6 col-lg-6 footer-links">
              	<a><p style="padding-top: 20px;">	> FAQ  </p></a>
              	<a href="#"><p>	> FAQ  </p></a>
              	<a href="#"><p>	> FAQ  </p></a>
              	<a href="#"><p>	> FAQ  </p></a>
					
                    
				
              </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h5>Recent Works</h5>
      	
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 footer-subscribe">
        <h5>Subscribe On Our News</h5>
        <p>
        <button  type="button" class="btn btn-default pull-right">
      <i class="fa fa-envelope-o"></i>
    </button></p><br><br>
    <h5>NRGNetwork</h5>
        
      	<p>Donec ultricies id arcu eu semper. Sed et nisl non nisl ullamcorper sollicitudin eget ac neque. Curabitur ullamcorper elementum mi, vel tempus urna consectetur vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
      

  </div>
     <hr>

  <div class="row footer-lastrow">
  	          <div class="col-sm-6 col-md-6 col-lg-6">
  	          	
					<p>&copy; All rights reserved <b>REDPANTHERS</b> </p>
					<div class="clr"></div>
				
  	          </div>
				
              <div class="col-sm-6 col-md-6 col-lg-6 text-right">
              	
					<a href="#" ><button type="button" class="btn btn-secondary">About Us</button></a><a href="#" > <button type="button" class="btn btn-secondary">Secondary</button></a> <a href="#" > <button type="button" class="btn btn-secondary">Secondary</button></a>
                    
				
              </div>

			
  </div>   

    
</div>