<div class="container">
	<div class="row">
        <div class="col-sm-3 col-sm-offset-0">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Enter Keyword" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-0">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Projects" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-0">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Most Resent" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-certificate"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-0">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Worldwide" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-globe"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>

     
	</div>
</div>
<!--layout starts-->

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Members</a>
						</li>
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-credit-card"></i>
							Repositories</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   <div ng-controller="MyController1">
  <div class="search">
  	<h1>USERS</h1>
  	<label>Search</label>
  	<input ng-model="query1" placeholder="search for users" autofocus>
  </div>				


  
	<ul class="list">
		<li class="cf" ng-repeat="item1 in users | filter:query1">
			<h5>{{ item1.login }}</h5>
			
		</li>
	</ul>
  

</div>



<div ng-controller="MyController2">
  <div class="search">
  	<h1>REPOSITORIES</h1>
  	<label>Search</label>
  	<input ng-model="query2" placeholder="search for repositories" >
  </div>				


 
	<ul class="list">
		<li class="cf" ng-repeat="item2 in repos | filter:query2">
			<h5>{{ item2.name }}</h5>
			
		</li>
	</ul>
  

</div>
            </div>
		</div>
	</div>
</div>
<!--layout ends-->




