
<div ng-controller="MyController">
  <div class="search">
  	<h1>USERS</h1>
  	<label>Search</label>
  	<input ng-model="query" placeholder="search for users" autofocus>
  </div>				


  <h3>Different Colors of Styles</h3>
	<ul class="list">
		<li class="cf" >
			<h5>{{ style }}</h5>
			
		</li>
	</ul>

</div>