
<div ng-controller="MyController">
  <div class="search">
  	<h1>USERS</h1>
  	<label>Search</label>
  	<input ng-model="query" placeholder="search for users" autofocus>
  </div>				


  <h3>Different Colors of Styles</h3>
	<ul class="list">
		<li class="cf" ng-repeat="item in style | filter: query">
			<h5>{{ item.color }}</h5>
			<h6>{{ item.value }}</h6>
		</li>
	</ul>

</div>