.footer {
	background-color: #222835;
	color: #475867;
	h5 {
	     color: white;
	     font-weight: bold;
    }
      
    .row {
    	margin-left:30px;
    	margin-right:30px;
    	margin-top:50px;
    	margin-bottom:50px;

    }  
    .footer-about,.footer-lastrow {
    button {
    	color: #475867;
    	background-color: #222835;
	    border-color: #475867;
    }

    }
    b {
    	color: white;
    }
    .footer-links {
    	
    	
    	a{
    		color: lightgrey;
    		font-weight: bold;
    	}
    }

    .footer-subscribe {
    	button {
    		background-color: #0D58C8;
    		color: white;
    	}
    }

    .noBorder {
            border:none ! important;
        }
}

